.charts-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
  padding: 20px;
}

.chart-card {
  background: #0b1f3f;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
  text-align: center;
}

.chart-card canvas {
  max-height: 320px !important;
}

.chart-card h3 {
  color: #4fd1c5;
  margin-bottom: 15px;
}

/* Center Risk Timeline */
.timeline-center {
  grid-column: 1 / span 2;
  width: 70%;
  margin: auto;
}
