body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: radial-gradient(circle at top,#122d5a,#020617);
}

.header {
  text-align: center;
  margin-top: 40px;
}

.header h1 {
  color: white;
  font-size: 36px;
}

.header p {
  color: #8fb6ff;
}
