body {
  margin: 0;
  font-family: "Inter", "Segoe UI", sans-serif;
  background: linear-gradient(135deg,#020617,#0f172a);
  color: #e2e8f0;
}

/* headings */
h1, h2, h3 {
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* Smooth animation */
* {
  transition: 0.25s ease;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}
